.gameArea {
  position: relative;
  width: 100%;
  height:100vh;
  background-color: #053244; 
  overflow: hidden;
}



.startButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 8px;
  z-index: 10;
}

.sea {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px; // высота моря
  background: linear-gradient(to top, #0077be, #00aaff); // градиент воды
  z-index: 1;
}

.score {

  padding:10px;
  font-size:21px;
  position: absolute;
}