.card {
	margin-top: 120px;
}

.container {
	display: flex;
	justify-content: center;
}

.inner {
	padding: 32px 12px;

	width: auto;

	display: inline-flex;
	justify-content: center;

	position: relative;
	z-index: 2;

	border-radius: 10px;
}

.background {
	border-radius: 9px;
}

.shadow {
	margin: auto;

	width: 160px;
	height: 160px;

	position: absolute;
	top: 0;
	left: -20px;
	bottom: 0;
	right: -20px;
	z-index: -1;

	filter: blur(70px);
}

.img {
	display: block;

	width: 112px;
	height: 112px;
}
