.bonus {
  position: absolute;
  pointer-events: none;
}

.bonusImageWrapper {
  position: relative;
  width: 180px;
  height: 180px;
}

.bonusImage {
  width: 100%;
  height: 100%;
  display: block;
}

.bonusValue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #fff;
  font-size: 32px;
  text-shadow: 0 0 5px #000; 
  pointer-events: none;
}
